body {
  background-color:#fa8072;
  width: 1489px;
  margin:auto;
  font-family:Copperplate;
  background: #blue;
  color:#5d432c;
  text-align: center;
  Font-size:25px;
}
h1 {
  color:#5d432c;
}
a {
  color:#5d432c;
  Font-size:25px;
  font-family:Copperplate;
}
a1{
  color:#5d432c;
  Font-size:40px;
  font-family:Copperplate;
}
h2{Font-size:30px}
h3{Font-size:40px}
h4{Font-size:40px}
h5{font-size:40px}
h6{Font-size}
